body {
    padding-top: 50px;
    background: url("../../img/shareBackdrop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
}
.template {
    padding: 40px 15px;
    text-align: center;
}

@media (max-width: 660px) {
    #thegraph {
        display:none;
    }
    .lead {
        display:none;
    }
    .lead2 {
        text-align: center;
    }
    #thegraph {
        display:none;
    }
    #dateContainer {
        display: none;

    }    
    #startLabel {
        display: none;
    }

    #startField {
        display: none;
    }

    /* Style the "X" text button next to the search input field */
    #delete { 
        display: none;
    }

    #endLabel {
        display: none;
    }

    #endField {
        display: none;
    }

    /* Style the "X" text button next to the search input field */
    #delete2 { 
        display: none;
    }

    .navbar ul li.menu {
        display: none;
    }

    .brand {
        top: 11px;
        left: 10px;
        font-size: 150%;
    }

    #icons {
        left: 210px;
    }

    .mobileMenu {
        position: absolute;
        font-family: 'Maven Pro';
        width: 100%;
        top: 9px;
        right: 0px;
        padding-right: 10px;
        display: block;
    }

    .mobileMenu ul {
        position: absolute;
        width: 100%;
        top: 50px;
        left: 0px;
        padding-bottom: 15px;
        margin-top: -20px;
        text-align: left;
    }
    .mobileMenu li {
        display: none;
        background-color: black;
        margin-left: -35px;
        font-size: 130%;
        padding: 5px 0px 5px 10px;
    }

    .mobileMenu li a {
        display: block;
    }

    .mobileMenu li:hover {
        color: black;
    }

}
@media (min-width: 661px) {
    .navbar li {
        font-size: 110%;
        font-family: 'Maven Pro';
        font-weight: 400px;
        display: inline;
        color: #18453B;
        padding: 0px 10px 0px 10px;
    }

    .menu-items{
        display: inline-block;
        text-align: left;
    }

    .brand {
        font-size: 130%;
        top: 13px;
    }

    .mobileMenu {
        display: none;
        font-size: 110%;
    }
    .mobileMenu ul {display: none;}
    #mobileimg {display: none;}
}

@media (min-width: 661px) and (max-width: 1024px) {
    main#content {
        font-size: 14px;
    }
    .lead {
        font-size: 14px;
        text-align: center;
    }
    .lead2 {
        display:none;
    }
    .bodyContainer {
        padding: 80px 15px;
        font-size: 12px;
        text-align: center;
        color: white;
    }  

    #startLabel {
        color: white;
        position: absolute;
        bottom: -80px;
    }

    #startField {
        width:300px; 
        height:30px; 
        line-height:27px;
        text-indent:10px; 
        font-size:1em; 
        color:#333; 
        background: #fff; 
        border:solid 1px #d9d9d9; 
        border-top:solid 1px #c0c0c0; 
        border-right:none;
        position: absolute;
        bottom: -105px;
    }

    /* Style the "X" text button next to the search input field */
    #delete { 
        width:16px;
        height:29px; 
        line-height:27px; 
        padding:0 0px 0 10px;
        font-family: "Lucida Sans", "Lucida Sans Unicode",sans-serif;
        font-size:22px; 
        background: transparent;  
        border-left:none;
        position: absolute;
        left: 270px;
        bottom: -104px;
    }

    #endLabel {
        color: white;
        position: absolute;
        bottom: -150px;
    }

    #endField {
        width:300px; 
        height:30px; 
        line-height:27px;
        text-indent:10px; 
        font-size:1em; 
        color:#333; 
        background: #fff; 
        border:solid 1px #d9d9d9; 
        border-top:solid 1px #c0c0c0; 
        border-right:none;
        position: absolute;
        bottom: -175px;
    }

    /* Style the "X" text button next to the search input field */
    #delete2 { 
        width:16px;
        height:29px; 
        line-height:27px; 
        padding:0 0px 0 10px;
        font-family: "Lucida Sans", "Lucida Sans Unicode",sans-serif;
        font-size:22px; 
        background: transparent;  
        border-left:none;
        position: absolute;
        left: 270px;
        bottom: -175px;
    }
}
@media (min-width: 1025px) and (max-width: 1440px) {
    main#content {
        font-size: 18px;
    }
    .lead {
        font-size: 18px;
        text-align: center;
    }
    .lead2 {
        display:none;
    }
    .bodyContainer {
        padding: 80px 15px;
        font-size: 15px;
        text-align: center;
        color: white;
    }  
    
    #startLabel {
        color: white;
        position: absolute;
        font-size:.75em; 
        bottom: -535px;
        left: 10px;
    }


    #startField {
        width:300px; 
        height:30px; 
        line-height:27px;
        text-indent:10px; 
        font-size:.75em; 
        color:#333; 
        background: #fff; 
        border:solid 1px #d9d9d9; 
        border-top:solid 1px #c0c0c0; 
        border-right:none;
        position: absolute;
        bottom: -560px;
        left: 10px;
    }

    /* Style the "X" text button next to the search input field */
    #delete { 
        width:16px;
        height:29px; 
        line-height:27px; 
        padding:0 0px 0 10px;
        font-family: "Lucida Sans", "Lucida Sans Unicode",sans-serif;
        font-size:22px; 
        background: transparent;  
        border-left:none;
        position: absolute;
        left: 280px;
        bottom: -560px;
    }

    #endLabel {
        color: white;
        position: absolute;
        font-size:.75em; 
        left: 330px;
        bottom: -535px;
    }

    #endField {
        width:300px; 
        height:30px; 
        line-height:27px;
        text-indent:10px; 
        font-size:.75em; 
        color:#333; 
        background: #fff; 
        border:solid 1px #d9d9d9; 
        border-top:solid 1px #c0c0c0; 
        border-right:none;
        position: absolute;
        left: 330px;
        bottom: -560px;
    }

    /* Style the "X" text button next to the search input field */
    #delete2 { 
        width:16px;
        height:29px; 
        line-height:27px; 
        padding:0 0px 0 10px;
        font-family: "Lucida Sans", "Lucida Sans Unicode",sans-serif;
        font-size:22px; 
        background: transparent;  
        border-left:none;
        position: absolute;
        left: 600px;
        bottom: -560px;
    }

    /* Set default state of "X" and hide it */
    #delete2 #x2 {
        color:#A1B9ED; 
        cursor:pointer;
        display:none;
    }
    /* Set the hover state of "X" */
    #delete2 #x2:hover {
        color:#36c;
    }
}
@media (min-width: 1441px) {
    .lead {
        font-size: 25px;
        text-align: center;
    }
    .lead2 {
        display:none;
    }
    .bodyContainer {
        padding: 80px 15px;
        font-size: 23px;
        text-align: center;
        color: white;
    }   

    #startLabel {
        color: white;
        position: absolute;
        right: 336px;
        bottom: -52px;
    }


    #startField {
        width:250px; 
        height:20px; 
        line-height:20px;
        text-indent:10px; 
        font-size:1em; 
        color:#333; 
        background: #fff; 
        border:solid 1px #d9d9d9; 
        border-top:solid 1px #c0c0c0; 
        border-right:none;
        position: absolute;
        right: 320px;
        bottom: -65px;
    }

    /* Style the "X" text button next to the search input field */
    #delete { 
        width:16px;
        height:29px; 
        line-height:27px; 
        padding:0 0px 0 10px;
        font-family: "Lucida Sans", "Lucida Sans Unicode",sans-serif;
        font-size:22px; 
        background: transparent;  
        border-left:none;
        position: absolute;
        right: 332px;
        bottom: -69px;
    }

    #endLabel {
        color: white;
        position: absolute;
        right: 62px;
        bottom: -50px;
    }

    #endField {
        width:250px; 
        height:20px; 
        line-height:20px;
        text-indent:10px; 
        font-size:1em; 
        color:#333; 
        background: #fff; 
        border:solid 1px #d9d9d9; 
        border-top:solid 1px #c0c0c0; 
        border-right:none;
        position: absolute;
        right: 50px;
        bottom: -65px;
    }

    /* Style the "X" text button next to the search input field */
    #delete2 { 
        width:16px;
        height:29px; 
        line-height:27px; 
        padding:0 0px 0 10px;
        font-family: "Lucida Sans", "Lucida Sans Unicode",sans-serif;
        font-size:22px; 
        background: transparent;  
        border-left:none;
        position: absolute;
        right: 60px;
        bottom: -69px;
    }
}



main#content {
    padding: 20px 15px;
    color:white;    
}
h1 {
    text-align: center;
}
#thegraph {
    padding-top: 40px;
    color:white;
    opacity:0;
    font-size: 150%;
}

/* div container containing the form  */
#dateContainer {
    margin:20px;
    display: none;
    font-family: sans-serif;
    position: relative;
}

/* Set default state of "X" and hide it */
#delete #x {
    color:#A1B9ED; 
    cursor:pointer;
    display:none;
}
/* Set the hover state of "X" */
#delete #x:hover {
    color:#36c;
}

/* Set default state of "X" and hide it */
#delete2 #x2 {
    color:#A1B9ED; 
    cursor:pointer;
    display:none;
}
/* Set the hover state of "X" */
#delete2 #x2:hover {
    color:#36c;
}

@font-face {
  font-family: 'REBold';
  src: url('../fonts/REBold.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
       url('../fonts/REBold.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

.brand {
    font-family:'REBold', sans-serif;
    display: inline-block;
    margin-top: 13px;
    top: 13px;
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
}

.brand:hover {
    cursor: pointer;
    transition: opacity .25s ease-in-out;
    opacity: .70;
}

a {
    color: white;
}

a:active {
    color: white;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    color: #FF8A18;
}

a:focus {
    color: white;
}

li {
    list-style-type: none;
}

.agit {
    display: inline-block;
}

.github {
    margin-bottom: 7px;
    margin-left: 4px;
}

.github:hover {
    transition: opacity .25s ease-in-out;
    opacity: .7;
    cursor: pointer;
}

.navbar {
    position: fixed;
    z-index: 999;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    text-align: right;
    background-color: black;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    height: 50px;
    top: 0;
    right: 0;
    left: 0;
}