body {
    padding-top: 50px;
    background: black;
}
.template {
    padding: 40px 15px;
    text-align: center;
}
.bodyContainer {
    padding: 80px 15px;
    text-align: center;
    color: white;
}
@media (max-width: 640px) {
    .lead {
        padding-bottom: 40px;
    }
}
@media (min-width: 641px) {
    main#content {
        font-size: 14px;
    }
    .question {
        font-size: 18px;
    }
    .lead {
        font-size: 20px;
        padding-bottom: 40px;
    }
}
@media (min-width: 1025px) {
    main#content {
        font-size: 15px;
    }
    .question {
        font-size: 18px;
    }
    .lead {
        padding-bottom: 40px;
    }
}
@media (min-width: 1441px) {
    main#content {
        font-size: 30px;
    }
    .question {
        font-size: 26px;
    }
    .lead {
        padding-bottom: 60px;
    }
}
main#content {
    padding: 20px 15px;
    color:white;
    text-align: center;          
    background-image: url("../../imgFiles/FAQbackdrop.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}