body {
    padding-top: 50px;
    background: black;
}
.template {
    padding: 40px 15px;
    text-align: center;
}
.bodyContainer {
    padding: 80px 15px;
    text-align: center;
    color: white;
}
@media (max-width: 660px) {
    p#directions {
        padding-top: 55%;
        color:white;
    }
    #thegraph {
        display:none;
    }
    #dateContainer {
        display: none;

    }    
    #startLabel {
        display: none;
    }

    #startField {
        display: none;
    }

    /* Style the "X" text button next to the search input field */
    #delete { 
        display: none;
    }

    #endLabel {
        display: none;
    }

    #endField {
        display: none;
    }

    /* Style the "X" text button next to the search input field */
    #delete2 { 
        display: none;
    }

}
@media (min-width: 661px) and (max-width: 1024px) {
    main#content {
        font-size: 14px;
    }
    
    p.lead {
        font-size: 18px;
    }
    
    h1 {
        font-size: 25px;
    }

    #startLabel {
        color: white;
        position: absolute;
        bottom: -80px;
    }


    #startField {
        width:300px; 
        height:30px; 
        line-height:27px;
        text-indent:10px; 
        font-size:1em; 
        color:#333; 
        background: #fff; 
        border:solid 1px #d9d9d9; 
        border-top:solid 1px #c0c0c0; 
        border-right:none;
        position: absolute;
        bottom: -105px;
    }

    /* Style the "X" text button next to the search input field */
    #delete { 
        width:16px;
        height:29px; 
        line-height:27px; 
        padding:0 0px 0 10px;
        font-family: "Lucida Sans", "Lucida Sans Unicode",sans-serif;
        font-size:22px; 
        background: transparent;  
        border-left:none;
        position: absolute;
        left: 270px;
        bottom: -104px;
    }

    #endLabel {
        color: white;
        position: absolute;
        bottom: -150px;
    }

    #endField {
        width:300px; 
        height:30px; 
        line-height:27px;
        text-indent:10px; 
        font-size:1em; 
        color:#333; 
        background: #fff; 
        border:solid 1px #d9d9d9; 
        border-top:solid 1px #c0c0c0; 
        border-right:none;
        position: absolute;
        bottom: -175px;
    }

    /* Style the "X" text button next to the search input field */
    #delete2 { 
        width:16px;
        height:29px; 
        line-height:27px; 
        padding:0 0px 0 10px;
        font-family: "Lucida Sans", "Lucida Sans Unicode",sans-serif;
        font-size:22px; 
        background: transparent;  
        border-left:none;
        position: absolute;
        left: 270px;
        bottom: -175px;
    }
}
@media (min-width: 1025px) and (max-width: 1440px) {
    main#content {
        font-size: 15px;
    }
    
    p.lead {
        font-size: 20px;
    }
    
    h1 {
        font-size: 35px;
    }
    
    #startLabel {
        color: white;
        position: absolute;
        bottom: -530px;
    }


    #startField {
        width:300px; 
        height:30px; 
        line-height:27px;
        text-indent:10px; 
        font-size:1em; 
        color:#333; 
        background: #fff; 
        border:solid 1px #d9d9d9; 
        border-top:solid 1px #c0c0c0; 
        border-right:none;
        position: absolute;
        bottom: -555px;
    }

    /* Style the "X" text button next to the search input field */
    #delete { 
        width:16px;
        height:29px; 
        line-height:27px; 
        padding:0 0px 0 10px;
        font-family: "Lucida Sans", "Lucida Sans Unicode",sans-serif;
        font-size:22px; 
        background: transparent;  
        border-left:none;
        position: absolute;
        left: 270px;
        bottom: -555px;
    }

    #endLabel {
        color: white;
        position: absolute;
        left: 320px;
        bottom: -530px;
    }

    #endField {
        width:300px; 
        height:30px; 
        line-height:27px;
        text-indent:10px; 
        font-size:1em; 
        color:#333; 
        background: #fff; 
        border:solid 1px #d9d9d9; 
        border-top:solid 1px #c0c0c0; 
        border-right:none;
        position: absolute;
        left: 320px;
        bottom: -555px;
    }

    /* Style the "X" text button next to the search input field */
    #delete2 { 
        width:16px;
        height:29px; 
        line-height:27px; 
        padding:0 0px 0 10px;
        font-family: "Lucida Sans", "Lucida Sans Unicode",sans-serif;
        font-size:22px; 
        background: transparent;  
        border-left:none;
        position: absolute;
        left: 590px;
        bottom: -555px;
    }

    /* Set default state of "X" and hide it */
    #delete2 #x2 {
        color:#A1B9ED; 
        cursor:pointer;
        display:none;
    }
    /* Set the hover state of "X" */
    #delete2 #x2:hover {
        color:#36c;
    }
}
@media (min-width: 1441px) {
    main#content {
        font-size: 30px;
    }
    
    p.lead {
        font-size: 35px;
    }
    
    h1 {
        font-size: 50px;
    }

    #startLabel {
        color: white;
        position: absolute;
        right: 330px;
        bottom: -22px;
    }


    #startField {
        width:250px; 
        height:20px; 
        line-height:20px;
        text-indent:10px; 
        font-size:1em; 
        color:#333; 
        background: #fff; 
        border:solid 1px #d9d9d9; 
        border-top:solid 1px #c0c0c0; 
        border-right:none;
        position: absolute;
        right: 320px;
        bottom: -35px;
    }

    /* Style the "X" text button next to the search input field */
    #delete { 
        width:16px;
        height:29px; 
        line-height:27px; 
        padding:0 0px 0 10px;
        font-family: "Lucida Sans", "Lucida Sans Unicode",sans-serif;
        font-size:22px; 
        background: transparent;  
        border-left:none;
        position: absolute;
        right: 332px;
        bottom: -39px;
    }

    #endLabel {
        color: white;
        position: absolute;
        right: 56px;
        bottom: -22px;
    }

    #endField {
        width:250px; 
        height:20px; 
        line-height:20px;
        text-indent:10px; 
        font-size:1em; 
        color:#333; 
        background: #fff; 
        border:solid 1px #d9d9d9; 
        border-top:solid 1px #c0c0c0; 
        border-right:none;
        position: absolute;
        right: 50px;
        bottom: -35px;
    }

    /* Style the "X" text button next to the search input field */
    #delete2 { 
        width:16px;
        height:29px; 
        line-height:27px; 
        padding:0 0px 0 10px;
        font-family: "Lucida Sans", "Lucida Sans Unicode",sans-serif;
        font-size:22px; 
        background: transparent;  
        border-left:none;
        position: absolute;
        right: 60px;
        bottom: -39px;
    }
}

.dropdown-menu {
    background:black; 
    color:white; 
}

.dropdown-menu li>a{color:white; }
.dropdown-menu li>a:hover{background:white; }

main#content {
    padding: 20px 15px;
    color:white;
    text-align: center;          
    background-image: url("../../imgFiles/backdrop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#thegraph {
    color:white;
    opacity: 0;
    font-size: 150%;
}


/* div container containing the form  */
#dateContainer {
    margin:20px;
    display: none;
    position: relative;
}

/* Set default state of "X" and hide it */
#delete #x {
    color:#A1B9ED; 
    cursor:pointer;
    display:none;
}
/* Set the hover state of "X" */
#delete #x:hover {
    color:#36c;
}

/* Set default state of "X" and hide it */
#delete2 #x2 {
    color:#A1B9ED; 
    cursor:pointer;
    display:none;
}
/* Set the hover state of "X" */
#delete2 #x2:hover {
    color:#36c;
}




