body {
    padding-top: 50px;
    background: black;
}
.template {
    padding: 40px 15px;
    text-align: center;
}
.bodyContainer {
    padding: 80px 15px;
    text-align: center;
    color: white;
}
@media (max-width: 640px) {
    p#directions {
        padding-top: 55%;
        color:white;
    }
    #thegraph {
        display:none;
    }

}
@media (min-width: 641px) {
    main#content {
        font-size: 14px;
    }
    p.lead {
        font-size: 18px;
    }
    h1 {
        font-size: 25px;
    }

}
@media (min-width: 1025px) {
    main#content {
        font-size: 15px;
    }
    p.lead {
        font-size: 20px;
    }
    h1 {
        font-size: 35px;
    }

}
@media (min-width: 1441px) {
    main#content {
        font-size: 30px;
    }
    p.lead {
        font-size: 35px;
    }
    h1 {
        font-size: 50px;
    }

}
main#content {
    padding: 20px 15px;
    color:white;
    text-align: center;          
    background-image: url("../imgFiles/backdrop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#thegraph {
    color:white;
    opacity:0;
    font-size: 150%;
}